dist/
built/

node_modules/
npm-debug.log

BuildTasks/typings/
BuildTasks/*Extension*/common.ts

*.vsix

/.vs
*.sqlite
/slnx.VC.VC.opendb
/slnx.VC.db
.taskkey
/BuildTasks/PublishExtension/debug.cmd
/BuildTasks/IsValidExtensionAgent/debug.cmd
*.env
BuildTasks/**/*.js
BuildTasks/**/*.js.map

tsconfig.tsbuildinfo
/*.pfx
vsixsigntool.exe

# Debug and temporary directories
.tmp/
.cache/
.work/
coverage/
