dist/
built/

node_modules/
npm-debug.log

BuildTasks/typings/
BuildTasks/*Extension*/common.ts

*.vsix

/.vs
*.sqlite
/slnx.VC.VC.opendb
/slnx.VC.db
.taskkey
/BuildTasks/PublishExtension/debug.cmd
/BuildTasks/IsValidExtensionAgent/debug.cmd
*.env
BuildTasks/*/v*/**/*.js
BuildTasks/*/v*/**/*.js.map

tsconfig.tsbuildinfo
/*.pfx
vsixsigntool.exe
