name: '5.0$(rev:.r)'

trigger:
  batch: true
  branches:
    include:
    - main
    - feature/*

pr:
- main

pool:
  vmImage: 'windows-2022'

stages:
- stage: 'Build'
  displayName: 'Build'
  jobs:
  - job:
    displayName: 'Build on Windows'
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '16.x'
      displayName: 'Install Node.js'

    - script: |
        npm run initdev
      displayName: 'Install Node dependencies'

    - powershell: |
        $vswhereLatest = "https://github.com/Microsoft/vswhere/releases/latest/download/vswhere.exe"

        $targets = @(
          ".\BuildTasks\PublishVSExtension\v3\tools\"
          ".\BuildTasks\PublishVSExtension\v4\tools\"
          ".\BuildTasks\PublishVSExtension\v5\tools\"
        )

        invoke-webrequest $vswhereLatest -OutFile $env:temp\vswhere.exe
        
        $targets | %{
          mkdir $_ -force | out-null
          copy $env:temp\vswhere.exe $_ -force
        }
      displayName: 'Grab the latest version of vswhere.exe'

    - task: Npm@1
      displayName: 'Build the extension'
      inputs:
        command: custom
        verbose: false
        customCommand: 'run build'

    - pwsh: |
        del BuildTasks\*\v*\package-lock.json
        del BuildTasks\*\v*\*.ts
        del BuildTasks\*\v*\package.json
        del BuildTasks\*\v*\tsconfig.json
        del BuildTasks\*\v*\.snyk
        del BuildTasks\*\v*\*.md
      displayName: 'Delete unneeded files'

    - task: TfxInstaller@4
      displayName: 'Use Node CLI for Azure DevOps'
      inputs:
        version: '0.x'
        checkLatest: true

    - task: PackageAzureDevOpsExtension@4
      displayName: 'Package Extension: $(Build.SourcesDirectory)'
      name: 'packagebuild'
      inputs:
        rootFolder: '$(Build.SourcesDirectory)'
        outputPath: '$(Build.ArtifactStagingDirectory)\vsts-developer-tools-build-tasks-build.vsix'
        publisherId: 'ms-devlabs'
        extensionId: 'vsts-developer-tools-build-tasks'
        extensionTag: '-build'
        extensionName: 'Azure DevOps Extension Tasks'
        extensionVersion: '$(Build.BuildNumber)'
        updateTasksVersion: true
        updateTasksVersionType: patch
        extensionVisibility: private

    - task: PackageAzureDevOpsExtension@4
      name: 'packageprivate'
      displayName: 'Package the private extension'
      inputs:
        rootFolder: '$(Build.SourcesDirectory)'
        outputPath: '$(Build.ArtifactStagingDirectory)\vsts-developer-tools-build-tasks-private.vsix'
        publisherId: 'ms-devlabs'
        extensionId: 'vsts-developer-tools-build-tasks'
        extensionTag: '-dev'
        extensionVisibility: 'private'

    - task: PackageAzureDevOpsExtension@4
      displayName: 'Package the public extension'
      name: 'packagepublic'
      inputs:
        rootFolder: '$(Build.SourcesDirectory)'
        outputPath: '$(Build.ArtifactStagingDirectory)\vsts-developer-tools-build-tasks-public.vsix'
        publisherId: 'ms-devlabs'
        extensionId: 'vsts-developer-tools-build-tasks'
        extensionVisibility: 'public'

    - publish: |
        $(Build.ArtifactStagingDirectory)\vsts-developer-tools-build-tasks-build.vsix
        $(Build.ArtifactStagingDirectory)\vsts-developer-tools-build-tasks-private.vsix
        $(Build.ArtifactStagingDirectory)\vsts-developer-tools-build-tasks-public.vsix
      artifact: vsix
      displayName: 'Publish vsix as pipeline artifact'
      condition: succeededOrFailed()

- stage: PublishDev
  displayName: 'Publish privately'
  condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
  dependsOn: 'Build'
  jobs:
  - deployment:
    environment: dev
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: vsix
            patterns: "**/*-private.vsix"

          - task: NodeTool@0
            inputs:
              versionSpec: '16.x'
            displayName: 'Install Node.js'

          - task: TfxInstaller@4
            displayName: 'Use Node CLI for Azure DevOps'
            inputs:
              version: '0.x'
              checkLatest: true

          - task: PublishAzureDevOpsExtension@4
            name: 'publishDev'
            displayName: 'Publish the private extension to ms-devlabs'
            inputs:
              connectTo: 'VsTeam'
              connectedServiceName: 'marketplaceServiceConnection'
              fileType: 'vsix'
              vsixFile: '$(Pipeline.Workspace)/vsix/vsts-developer-tools-build-tasks-private.vsix'
              noWaitValidation: true

          - task: IsAzureDevOpsExtensionValid@4
            displayName: 'Validate the private extension on the marketplace'
            inputs:
              connectTo: 'VsTeam'
              connectedServiceName: 'marketplaceServiceConnection'
              method: 'vsix'
              vsixFile: '$(publishDev.Extension.OutputPath)'

- stage: PublishProd
  displayName: 'Publish publicly to MsDevLabs'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  dependsOn: 'PublishDev'
  jobs:
  - deployment:
    environment: public-vsts-developer-tools-build-tasks
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: vsix
            patterns: "**/*-public.vsix"

          - task: NodeTool@0
            inputs:
              versionSpec: '16.x'
            displayName: 'Install Node.js'

          - task: TfxInstaller@4
            displayName: 'Use Node CLI for Azure DevOps'
            inputs:
              version: '0.x'
              checkLatest: true

          - task: PublishAzureDevOpsExtension@4
            name: 'publishProd'
            displayName: 'Publish the public extension to ms-devlabs'
            inputs:
              connectTo: 'VsTeam'
              connectedServiceName: 'marketplaceServiceConnection'
              fileType: 'vsix'
              vsixFile: '$(Pipeline.Workspace)/vsix/vsts-developer-tools-build-tasks-public.vsix'
              noWaitValidation: true

          - task: IsAzureDevOpsExtensionValid@4
            displayName: 'Validate the private extension on the marketplace'
            inputs:
              connectTo: 'VsTeam'
              connectedServiceName: 'marketplaceServiceConnection'
              method: 'vsix'
              vsixFile: '$(publishProd.Extension.OutputPath)'

          - task: GitHubRelease@1
            displayName: 'Publish the public extension to GitHub'
            inputs:
              gitHubConnection: 'microsoft/azure-devops-extension-tasks'
              repositoryName: '$(Build.Repository.Name)'
              action: 'create'
              target: '$(Build.SourceVersion)'
              tagSource: 'userSpecifiedTag'
              tag: 'v$(Build.BuildNumber)'
              title: 'v$(Build.BuildNumber)'
              releaseNotesSource: 'inline'
              assets: '$(publishProd.Extension.OutputPath)*'
              changeLogCompareToRelease: 'lastFullRelease'
              changeLogType: 'issueBased'
              changeLogLabels: '[{ "state" : "closed" }]'
